/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.file-upload input[type='file'] {
    display: none;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    height: 100vh;
}

.rounded-lg {
    border-radius: 1rem;
}

.custom-file-label.rounded-pill {
    border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
    border-radius: 0 50rem 50rem 0;
}

/*
LOADING SPINNER CSS
 */

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}
button {
    margin: 40px;
    padding: 5px 20px;
    cursor: pointer;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #00B4DB;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}